
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>PyzzaHound</title>


        <!-- Custom styles for this template -->
        <link href="main.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Include the AngularJS library -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>

        <!-- Angular Material Library -->
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

        <!-- Include the plotly library -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    </head>

    <body ng-app="pyzzaApp" ng-controller="pyzzaController" >
        <nav id="header" class="navbar fixed-top">
            <a class="navbar-brand">Sensor Hound</a>
            <div class="row">
                <!--
                <div class="col-lg-2 col-md-2" id="deviceDropdown">
                    <i>Source</i>
                    <select name="deviceSelect" ng-model="deviceSelected" ng-options="d for d in deviceList"></select>
                </div>
                <div class="col-lg-2 col-md-2" id="sensorsDropdown">
                    <i>Sensor</i>
                    <select name="sensorSelect" id="sensorSelect" ng-model="sensorTypeSelected">
                        <option ng-repeat="c in categories">{{c}}</option>
                    </select>
                </div> -->
                <div class="col-lg-4 col-md-2" id="deviceCheckBox">
                    <i>Source</i>
                    <div ng-repeat="d in deviceList">
                        <input type="checkbox" ng-checked="exists(d, deviceSelected)" ng-click="checkboxToggle(d, deviceSelected)">
                            {{d}}
                        </input>
                    </div>
                </div>
                <div class="col-lg-4 col-md-2">
                    <i>Time range:</i>
                    <select ng-model="timerangeSelected" ng-options="range.name for range in quickTimeRanges"></select>
                </div>

                <div class="col-lg-4 col-md-2">
                    <button type="button" class="btn btn-light" ng-click="getTempData()">Plot</button>
                </div>
            </div>

        </nav>

        <main role="main" class="container">

            <div class="container">

                <div id="temperaturePlot"></div>

                <div class="row">
                    <div class="col-md-2" id="currentTemp">
                        <i>Current temperature: {{currentTemp}}</i>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Device</th>
                            <th>Current Temperature</th>
                            <th>Min temp</th>
                            <th>Max temp</th>
                            <th>Mean</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="t in tempData">
                            <td>{{t.name}}</td>
                            <td>{{t.stats.current_temp}}</td>
                            <td>{{t.stats.min}} @ {{t.stats.tmin}}</td>
                            <td>{{t.stats.max}} @ {{t.stats.tmax}}</td>
                            <td>{{t.stats.mean.toFixed(2)}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </main><!-- /.container -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- Controllers -->
        <script src="controller.js"></script>
        <script src="moment.js"></script>

    </body>
</html>
